main {
  width: auto ;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  color: white;
  font-family: 'Lora', serif;
}
h2 {
  color: black;
  font-weight: bold;
  font-family: 'Lora', serif;
}

h2.jumbo {
  padding-left: 40px;
}

p {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: whitesmoke ;
}

img.main {
  width: 300px ;
  height: 400px ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-image: url(../images/banner_2_small_2.jpg);
  margin: 25px ;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  color: white;
  height: 150px; 
} 
.row {
  padding: 8px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    width: 600px;
  }
  h1.jumbo {
    text-align: center;
  }
  h2.jumbo {
    text-align: center;
  }
}