main {
  width: 1000px ;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  color: white;
}

h2 {
  color: black;
  font-weight: bold;
  font-family: 'Lora', serif;
}
p {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: whitesmoke ;
}
img {
  width: 300px ;
  height: 400px ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: red;
  font-family: 'Montserrat', sans-serif; 
}
li {
  color: black;
  font-family: 'Lora', serif;
}
.jumbotron {
  background-image: url(../images/banner_2_small.jpg);
  margin: 25px -200px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20%;
  color: white;
}
.row {
  padding: 8px;
}

.container.bottom h1, .container.bottom h2 {
  position: relative;
  top: 220px;
}